{% extends "accounts/base.html" %}
{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block body %}
<h1 class = 'text-center'>About PULSAR </h1>
<h3 style="text-align:center"> Pulsar is a cutting-edge chat service that connects people from all over the world. Our platform is designed to be fast, reliable, and easy to use, making it the perfect choice for both personal and professional communication.

    With Pulsar, you can create chat rooms for specific groups of people, send direct messages, and share files and images with ease. Our service also features end-to-end encryption, ensuring that your conversations are always private and secure.
    
    Our team of dedicated developers is constantly working to improve and expand the features of Pulsar, making it the go-to choice for all your communication needs.
    
    Thank you for choosing Pulsar! </h3>
{% endblock %}