<!DOCTYPE html>
<html>
  {%load i18n %}
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css'%} ">
    <link rel="stylesheet" href="{% static '/css/all.css'%} ">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand ml-5" href="{% url 'index' %}">{% trans "Home" %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}"> {% trans "About" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects' %}"> {% trans "Project" %}</a>
          </li>
        </ul>
        <ul class="navbar-nav my-2 mr-5 my-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href=""><span class="sr-only">(current)</span>{{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{% trans "logout" %}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">{% trans "Register" %}<span class="sr-only">(current)</span></a>
          </li>
  
          {% endif %}
          {% comment %} <li> <!-- change language -->
              <select name="language" class="custom-select" id = "lang" style="width:70px">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE  %} selected {% endif %}>
                  {{ language.code }}
                </option>
                {% endfor %}
              </select>
          </li> {% endcomment %}
        </ul> 
      </div>
    </nav>
  
        <div class="row mt-3 mb-3 container_fluid">
          <div class="col-12">
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-info alert-dismissible">
                          {{ message }}
                          <button type="button" data-dismiss="alert" class="close">&times;</button>
                      </div>
                  {% endfor %}
              {% endif %}
          </div>
      </div>
  
    <div class="container-lg">
      {% block body %}
      {% endblock body %}
    </div>
    <script src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>