{% extends "accounts/base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<p class="h4" style="text-align: center;padding-top:20%">{% trans "You already logged in as" %} {{user.username}} </p>
<p class='h6' style="text-align: center">{% blocktrans %}<a href="user/logout"> logout </a> from this user first</p>{% endblocktrans %} 
{% else %}
{% load crispy_forms_tags %}
<form action="{% url 'login' %}" method="post" style="padding-top:100px;width:400px;height:70%" class="container">
    <h1 class='display-4' style='text-align:center'> {% trans "Login" %} </h1>
    {% csrf_token %}
    {{ form|crispy }}
    <button class='btn btn-primary' type="submit">{% trans "Login" %}</button>
    <p>{% trans "dont have account?? Go talk to your Superior salesman" %}</p>
</form>
{% endif %}

{% endblock %}